doctype
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title WebCraft Inc. - Разработка веб-сайтов
    meta(name='description', content='Создание и продвижение сайтов в Казани')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='preload' href='fonts/museo.woff' as='font')
    link(rel='preload' href='fonts/helvetica.woff' as='font')
    link(rel='preload' href='fonts/helvetica-bold.woff' as='font')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      .container
        .col-6
          img(src='images/logo.png' alt='WebCraft')
          h1 WebCraft Inc.
          span Агентство интернет-маркетинга
        .col-6
          p Горячая линия:
            a(href='tel:+79377713987') +7 (937) 771 3987
          button Начать проект
    a(href='#' id='touch-menu') ☰ Меню
    nav
      .container
        ul
          li Заказ сайта
          li Как повысить продажи
          li Цена
          li Наши преимущества
          li Контакты
    main
      .container
        h2 Создадим сайт за 7 дней или вернём Вам деньги!
        p Повышение продаж из Интернета
        img(src='images/main.png' alt='WebCraft Inc.')
        button Начать проект
    .price
      .container
        h2 Цена
        .col-3
          table
            thead 
              tr
                td Start
                  p 15 000 р.
            tr 
              td Нет поддержки
            tr 
              td 1 домен
            tr 
              td 400 ключевиков
            tr
              td Адаптивный дизайн
            tr
              td Обратная связь
        .col-3
          table
            thead
              tr 
                td Business
                  p 35 000 р.
            tr
              td 24/7 поддержка
            tr
              td 2 домена
            tr
              td 1500 ключевиков
            tr
              td Адаптивный дизайн
            tr
              td Настройка директа
        .col-3
          table
            thead
              tr
                td Premium
                  p 80 000 р.
            tr
              td 24/7 поддержка
            tr
              td ТОП 5
            tr
              td 3 домена
            tr
              td 10 000 ключевиков
            tr
              td Адаптивный дизайн
            tr
              td Защита от DDoS атак
            tr
              td Настройка директа
        .col-3
          table
            thead
              tr
                td E-commerce
                  p 95 000 р.
            tr
              td 24/7 поддержка
            tr
              td 5 доменов
            tr
              td 45 000 ключевиков
            tr
              td Защита от DDoS атак
            tr
              td Настройка директа
    .how-to
      .container
        h2 Как повысить продажи за 5 шагов
        .col-4
          img(src='images/phone.png' alt='WebCraft Inc.')
        .col-8
          p Позвонить нам по номеру +7 (937) 771 3987
        .col-4
          img(src='images/manager.png' alt='WebCraft Inc.')
        .col-8
          p Проект менеджер ответит на Ваши вопросы и начнёт курировать Ваш проект в режиме 24/7
        .col-4
          img(src='images/plan.png' alt='WebCraft Inc.')
        .col-8
          p Утверждается план и оговариваются сроки
        .col-4
          img(src='images/result.png' alt='WebCraft Inc.')
        .col-8
          p Вы получаете готовый результат
        .col-4
          img(src='images/partner.png' alt='WebCraft Inc.')
        .col-8
          p По завершению проекта вы получаете дальнейшие указания и план действий для повышения продаж
    .adventures
      .container
        h2 Наши преимущества
        .col-6
          .col-4
            img(src='images/1.png' alt='WebCraft Inc.')
          .col-8
            p Опытная команда. Минимальный опыт 3 года
          .col-4
            img(src='images/2.png' alt='WebCraft Inc.')
          .col-8
            p A/B тестирование даёт 100% гарантию качества результата
          .col-4
            img(src='images/3.png' alt='WebCraft Inc.')
          .col-8
            p Скидка постоянным клиентам
          .col-4
            img(src='images/4.png' alt='WebCraft Inc.')
          .col-8
            p Персональный проект менеджер
        .col-6
          .col-4
            img(src='images/5.png' alt='WebCraft Inc.')
          .col-8
            p Первичный и вторичный анализ результатов
          .col-4
            img(src='images/6.png' alt='WebCraft Inc.')
          .col-8
            p Только проверенные методы в создании и продвижении сайтов
          .col-4
            img(src='images/7.png' alt='WebCraft Inc.')
          .col-8
            p Отчёт о проделанной работе до 4ёх раз в месяц
    footer
      .container
        h2 Контакты
        p Каждый проект поддерживается нашими менеджерами в режиме 24/7
        .col-6
          h3 Свяжитесь с нами
          .address г. Казань, ул. Щапова, 47
          .email 111-222@bk.ru
          .telephone +7 (937) 771 3987
          .site http://webcraft.bz
        .col-6
          form
            h3 Свяжитесь с нами и оставьте заявку
            input(type='text' placeholder='Ваше имя' required)
            input(type='email' placeholder='Ваш e-mail' required)
            textarea
            button(type='submit') Отправить заявку
