doctype
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title WebCraft Inc. - Разработка веб-сайтов
    meta(name='description', content='Создание и продвижение сайтов в Казани')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='preload' href='fonts/museo.woff' as='font')
    link(rel='preload' href='fonts/helvetica.woff' as='font')
    link(rel='preload' href='fonts/helvetica-bold.woff' as='font')
    link(rel='stylesheet' href='css/style.css')
  body
    header
      .container
        .col-6
          img(src='images/logo.png' alt='WebCraft')
          h1 WebCraft Inc.
          span Агентство интернет-маркетинга
        .col-6
          a(href='tel:+79377713987') +7 (937) 771 3987
